NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/dynamic_pdf_templates
FRONTEND_URL=http://localhost:5173
FRONTEND_URLS=http://localhost:5173,http://127.0.0.1:5173
ALLOW_ALL_ORIGINS=false
PUPPETEER_CACHE_DIR=./.cache/puppeteer
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
